@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #050805;
  font-family: "Share Tech Mono", monospace;
}